
# Ignor all
*
!.gitignore

!.project
!pom.xml
!src/
src/*
!src/main/
src/main/*
!src/main/java/
src/main/java/*
!src/main/java/com/
src/main/java/com/*
!src/main/java/com/mayab/
src/main/java/com/mayab/*
!src/main/java/com/mayab/quality/
src/main/java/com/mayab/quality/*
!src/main/java/com/mayab/quality/logginunittest/
src/main/java/com/mayab/quality/logginunittest/*
!src/main/java/com/mayab/quality/logginunittest/service/
src/main/java/com/mayab/quality/logginunittest/service/*
!src/main/java/com/mayab/quality/logginunittest/service/UserService.java

# test
!src/test/
src/test/*
!src/test/java/
src/test/java/*
!src/test/java/com/
src/test/java/com/*
!src/test/java/com/mayab/
src/test/java/com/mayab/*
!src/test/java/com/mayab/quality/
src/test/java/com/mayab/quality/*
!src/test/java/com/mayab/quality/unittest/
src/test/java/com/mayab/quality/unittest/*
!src/test/java/com/mayab/quality/unittest/service/
src/test/java/com/mayab/quality/unittest/service/*
!src/test/java/com/mayab/quality/unittest/service/UserServiceTest.java


# Java-specific ignore patterns
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.mtj.tmp/
*.ctxt
